<div class="jumbotron jumbotron-fluid shadow p-3 mb-5 bg-white rounded">
  <div class="container text-center">
    <h1 class="headline">The New Yorker Magazine Aggregator</h1>
    <p class="subline">Click on an article below to read it.</p>
  </div>
</div>