<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand text-white" href="#">The New Yorker Magazine Article Feed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scrape">Scrape New Articles</a>
      </li>
      <li class="nav-item">
        {{#if user}}
            <li><a id="loggedin" class="nav-link" href="/user/logout" data="{{user.id}}">Logout</a></li>
            <li><a class="nav-link" href="/mystuff">My Saved Articles</a></li>
        {{else}}
          <a class="nav-link" href="/user/login">Login/Join</a>
        {{/if}}
      </li>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>
<script type="text/javascript" src="../assets/js/mystuff.js"></script>