
{{> navbar }}
{{> jumbotron}}

<div class="container">
    <div class="card mb-3 shadow p-3 mb-5 bg-info rounded">
      <div class="card-body">
        <p class="link-font">{{thisstuff.text}}</p>
          <a class="btn btn-success" href="{{thisstuff.link}}" role="button">{{thisstuff.buttontext}}</a>
      </div>
    </div>
</div>